{% assign current_path = page.url | default: '/' %}
<nav class="nav">
  <a class="nav__brand" href="{{ "/" | absolute_url }}">
    bongdong2<span class="dot">.</span>blog
  </a>
  <div class="nav__links">
    <a class="{% if current_path == '/' or current_path == '/index.html' %}active{% endif %}" href="{{ "/" | absolute_url }}">Writing</a>
    <a class="{% if current_path contains '/blog' %}active{% endif %}" href="{{ "/blog" | absolute_url }}">Archive</a>
    <a class="{% if current_path contains '/work' %}active{% endif %}" href="{{ "/work" | absolute_url }}">About</a>
  </div>
</nav>
